name: Build Oraxen
on: [push, workflow_dispatch] # workflow_dispatch lets you run it manually

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'gradle'

      - name: Build with Gradle
        run: chmod +x gradlew && ./gradlew shadowJar

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Oraxen-Jar
          path: build/libs/*.jar
